<%-include("partials/pheader")-%>
<link rel="stylesheet" href="/css/complete.css">
    <div class="details" id="complete">
        <div class="headx">
            <h1> Completed Tasks </h1>
        </div>
        <div class="graphBox">
            <div class="box">
                <h2>Dates completed on : </h2>
                <canvas id="myDaily"></canvas>
            </div>
        </div>
        <div class="recent">
            <div class="cardHeader">
                <h2>Completed Tasks</h2>
            </div>
            <table>
                <thead>
                    <tr>
                        <th style="padding-bottom: 30px !important;">Name</th>
                        <th style="padding-bottom: 30px !important;">Category</th>
                        <th style="padding-bottom: 30px !important;">Deadline Date</th>
                        <th style="padding-bottom: 30px !important;">Deadline Time</th>
                        <th style="padding-bottom: 30px !important;">Completed Date</th>
                        <th style="padding-bottom: 30px !important;">Completed Time</th>
                    </tr>
                </thead>
                <tbody>
                    <br>
                    <% for (var i=0; i < completex.length; i++) { %>
                        <tr class="earn">
                            <td style="border-top-left-radius: 10px; border-bottom-left-radius: 10px; padding-top: 1em;
    padding-bottom: 1em;">
                                <%=completex[i].name %>
                            </td>
                            <td style="padding-top: 1em;
    padding-bottom: 1em;">
                                <%=completex[i].category %>
                            </td>
                            <td style="padding-top: 1em;
    padding-bottom: 1em;"> 
                                <%=dx[i].date%>
                            </td>
                            <td style="padding-top: 1em;
    padding-bottom: 1em;">
                                <%=dx[i].time%>
                            </td>
                            <td style="padding-top: 1em;
    padding-bottom: 1em;">
                                <%=compx[i].date %>
                            </td>
                            <td style="border-top-right-radius: 10px; border-bottom-right-radius: 10px; padding-top: 1em;
    padding-bottom: 1em;">
                                <%=compx[i].time %>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        let dates = [],dta = [];
        
        const ctx = document.getElementById('myChart');
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: dates,
                    datasets: [{
                        label: 'Task Completed',
                        data: dta,
                        borderWidth: 1,
                        fill: false,
                        tension: 0.1
                    }]
                },
                options: {
                    responsive: true,
                }
            });
    </script>
<%-include("partials/pfooter")-%>