<%- include("partials/header") -%>

<h3>Welcome to Task Master, <%= mailid %>
</h3>
<a class="button" href="/<%= mailid %>/addtask">Add new Task</a>
<h1 class="TaskPage">All Tasks</h1>
    <% tasks.forEach(function(task) { %>
        <li style="list-style-type: none">
            <div class="boxtask">
            <div id="task"><%= task.name %> <br> Deadline: <%= task.deadline %></div>
            <div class="countdown-timer" data-deadline="<%= task.deadline %>"></div>
                <br> <br>                   
                    <form action="/<%= mailid %>/tasks/<%= task._id %>" method="POST" style="display:inline">
                        <button type="submit">Delete</button>
                    </form>
                    <form action="/<%= mailid %>/tasks/<%= task._id %>/edit" method="GET" style="display:inline" >
                            <button type="submit">Edit</button>
                    </form>
                <br> <br>
            </div>
        </li>
        <% }); %>
<a class="button" href="/logout" role="button">Log Out</a>
<%- include("partials/footer") -%>